<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body class="px-4 py-5">
        <div class="w-75 d-flex justify-content-around mx-auto">
            <div style="width: 80px;"></div>
            <h1 class="text-secondary text-center">Create Task</h1>
            <a href="/users/logout" class="btn btn-outline-secondary h-50 mt-2">Log Out</a>
        </div>
        <form action="create_done" method="post">
            <div class="w-50 my-4 mx-auto">
                <label for="title">タイトル</label><br />
                <% if(typeof title != 'undefined') { %>
                    <input type="text" class="w-100" id="title" name="title" value="<%= title %>" placeholder="タイトルを入力してください">
                <% } else { %>
                    <input type="text" class="w-100" id="title" name="title" placeholder="タイトルを入力してください">
                <% } %>
            </div>
            <div class="w-50 my-4 mx-auto">
                <label for="content">内容</label><br />
                <% if(typeof content != 'undefined') { %>
                    <textarea class="w-100" id="content" name="content" value="<%= content %>" placeholder="詳細を入力してください" style="height: 100px;"></textarea>
                <% } else { %>
                    <textarea class="w-100" id="content" name="content" placeholder="詳細を入力してください" style="height: 100px;"></textarea>
                <% } %>
            </div>
            <% if(typeof errorMessage != 'undefined') { %>
                <ul class="w-50 my-4 mx-auto">
                    <% for (let n in errorMessage) { %>
                    <li class="text-danger">
                        <%= errorMessage[n].msg %>
                    </li>
                    <% } %>
                </ul>
            <% } %>
            <div class="d-flex w-50 mx-auto">
                <a href="/todo_app/list" class="btn btn-outline-secondary btn-lg mx-auto w-25">戻る</a>
                <button class="btn btn-outline-secondary btn-lg mx-auto w-25" type="submit">作成</button>
            </div>
        </form>
    </body>
</html>